.wrapper {
  width: 640px;
  overflow: hidden;
}

.container {
  display: flex;
}

.search {
  position: relative;
  width: 300px;
}

.list {
  margin: 0 0 5px;
}

.sort {
  position: relative;
  margin-left: 80px;
}

.item {
  padding: 0;
}

.radio {
  margin-right: 5px;
  height: 13px;
  width: 13px;
}
