.list_wrapper {
  display: flex;
  justify-content: space-between;
  width: 600px;
  color: #BDBDBD;
  font-size: 13px;
  line-height: 12px;
}

.list {
  list-style: none;
  margin-bottom: 10px;
}

.item_name {
  font-weight: bold;
  color: #757575;
}
