.FilterResults { /* stylelint-disable */

}

.paper {
  padding: 20px;
  min-width: 90%;
  display: inline-block;
}

.tableWrapper {
  border-top: 1px solid grey;
  padding-top: 20px;
  max-height: 300px;
  overflow: scroll;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.tableHeader {
  composes: tableRow;
  font-weight: 900;
}

.column {
  /*min-width: 10%;*/
  width: 25%;
  margin: 10px;
}

.selectCol {
  composes: column;
  width: 15%;
}

.selectHeader {
  composes: selectCol;
}

.jobTitleCol {
  composes: column;
  width: 40%;
}

.seniorityCol {
  composes: column;
  width: 15%;
}

.relationCol {
  composes: column;
  width: 30%;
}