.SingleTitle { /* stylelint-disable */

}

.formRow {
  display: flex;
  justify-content: space-between;
}

.paper {
  padding: 20px;
  min-width: 90%;
  display: inline-block;
}

.titleColumn {
  width: 50%;
}

.proximityColumn {
  width: 200px;
}

.removeColumn {
  width: 96px;

}
.proximityField {
  max-width: calc(200px - 48px);

}
