.wrapper {
  display: flex;
  justify-content: space-between;
  color: #757575;
  font-size: 13px;
  align-content: center;
  height: 15px;
}

.listLeft {
  display: flex;
}

.listRight {
  display: flex;
}

.itemName {
  font-weight: bold;
  margin: 0 5px 0 0;
}

.date {
  margin: 0 5px 0 0;
}

.time {
  margin: 0;
}

.info {
  margin: 0;
  color: #AFAFAF;
}
