.wrapper {
  display: flex;
  justify-content: space-between;
  color: #BDBDBD;
  font-size: 13px;
  align-content: center;
  height: 15px;
}

.list_left {
  display: flex;
}

.item_name {
  font-weight: bold;
  color: #757575;
}
